<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
   	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>市级招标公告</title>
	<link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/bootstrap.css"></link>
  	<style type="text/css">
    	red{
			color:red;
		}
		body{
			font-size:18px;
		}
    </style>
</head>
<body>
	<div class="container-fluid" id="divBody">
		<div class="page-header" style="margin-top:20px;padding-bottom:0px;">
	  		<h3>市级招标公告</h3>
		</div>
		<ul class="nav nav-tabs" >
			<li role="presentation" v-bind:class="active1"><a id="tab1" href="javascript:;" v-on:click="tabChange">首页</a></li>
			<li role="presentation" v-bind:class="active2"><a id="tab2" href="javascript:;" v-on:click="tabChange">近一周武汉市</a></li>
		</ul>
		<div class="input-group" id="inputGroup">
		  	<span class="input-group-addon" id="basic-addon3" style="font-size:18px;">搜索</span>
		  	<input type="text" class="form-control" id="basic-url" placeholder="请输入搜索关键字"
		  		style="font-size:18px;height:50px;" v-model="searchWd" aria-describedby="basic-addon3">
		</div>
		<div class="list-group" id="listGroup">
 			<a v-for="row in list" v-show="row.show" v-bind:href="row.href" target="_blank" class="list-group-item" 
	 			style="display:-webkit-box;"> 
	   			<span style="color:blue">[{{row.type}}]</span>
	   			<span v-html="row.showName"></span>
	   			<span style="text-align:right;float:right;">{{row.time}}</span>
 			</a>
			<div class="panel-footer" style="text-align: center">共{{total}}条</div>
		</div>
	</div>
<script src="js/vue.js"></script>
<script src="js/jquery.js"></script>
<script src="js/layer.js"></script>
<script src="js/sync.js"></script>
<script type="text/javascript">
var lg=new Vue({
	el:"#divBody",
	mounted:function(){
		var that=this;
		post2SRV("showAll",function(data){
			for(var i=0;i<data.length;i++){
				data[i].show=true;
				data[i].showName=data[i].name;//显示的内容
			}
			that.list1=data;
			that.tabChange();
		},"json");
	},
	methods:{
		tabChange:function(event){
			this.searchWd="";
			var id;
			if(event==undefined)
				id="tab1";
			else
				id=event.currentTarget.getAttribute('id');
			if(id=="tab1"){
				this.active1="active";
				this.active2="";
				this.list=this.list1;
			}else{
				this.active2="active";
				this.active1="";
				if(this.list2==null){
					var that=this;
					post2SRV("lastWeek",function(data){
						for(var i=0;i<data.length;i++){
							data[i].show=true;
							data[i].showName=data[i].name;//显示的内容
						}
						that.list2=data;
						that.list=that.list2;
					},"json");
				}else{
					this.list=this.list2;
				}
			}
		}
	},
	watch: {
		//list发生变化		
		list:function(){
			lg.total=this.list.length
		},
		//searchWd发生变化
		searchWd: function (val) {
			var vArr=val.split("");
			this.total=0;
			for(var i=0;i<lg.list.length;i++){
				var name=lg.list[i].name;
				//设显示和真实一致
				lg.list[i].showName=name;
				
				var find=true;
				//找到完整的词汇
				if(name.indexOf(val)!=-1){
					var index=name.indexOf(val);
					var showName=lg.list[i].showName;
					lg.list[i].showName=showName.substring(0,index)
						+"<red>"+val+"</red>"
						+showName.substring(index+val.length);
				//分开一个字一个字的找
				}else{
					for(var j=0;j<vArr.length;j++){
						if(name.indexOf(vArr[j])==-1){
							find=false;
							break;
						}else{
							var showName=lg.list[i].showName;
							lg.list[i].showName=showName.substring(0,showName.indexOf(vArr[j]))
								+"<red>"+vArr[j]+"</red>"
								+showName.substring(showName.indexOf(vArr[j])+vArr[j].length);
						}
					}
				}
				if(find){
					lg.list[i].show=true;
					this.total++;
				}else{
					lg.list[i].show=false;
				}
			} 
		}
	},
	data:{
		list:[],//显示list
		list1:null,//首页list
		list2:null,//近一周list
		searchWd:"",
		total:0,
		active1:"active",
		active2:""
	}
});
</script> 
	</body>
</html>
